<div>
  <h1>Don Budget</h1>
    <div>
      <button class = 'bg-[#3778c2] py-3 text-white'>
        <%= link_to "Log in", new_user_session_path%>
      </button>
      <button class = 'text-[#434b54] py-3'>
        <%= link_to "Sign up", new_user_registration_path%>
      </button>
    </div>
</div>
